// Main Navigation
// ----------------------------------------- //
.main_nav
	.effect
		padding: rhythm(3.65) rhythm(1.5)

	nav
		ul
			@extend %caps
			@extend %header-stack
			@extend %no-bullets
			@extend %no-margin-or-padding
			+adjust-font-size-to($ms2_plus)
			a
				#{$link}
					@extend %no-text-decoration
					@extend %color-transition
					@extend %display-inline-block
					color: $gray
					+trailer(.25)
				#{$focus}
					color: lighten($orange,50%)

			> li.active a
				border-bottom: 1px solid lighten($orange,30%)
				color: lighten($orange,50%)


	.social_connect
		@extend %center-text
		+adjust-font-size-to($ms4)
		+leader(2)

		a
			#{$link}
				@extend %display-inline-block
				color: $gray

				&.fb
					@extend %icon
					@extend %icon-facebook
				&.tw
					@extend %icon
					@extend %icon-twitter
				&.ig
					@extend %icon
					@extend %icon-instagram

				em
					@extend %visuallyhidden




.close_btn
	#{$link}
		@extend %icon
		@extend %icon-cancel
		@extend %position-absolute
		top: rhythm(1.15)
		right: rhythm(1)
		color: $gray
		display: block
		padding: 0
		border: 0
		outline: none
		overflow: hidden
		white-space: nowrap
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
		+adjust-font-size-to($ms2)
		+opacity(.9)

	#{$focus}
		+opacity(1)

	span
		@extend %visuallyhidden



.js-ready .main_nav
	height: 100%
	//+box-shadow(rgba(darken($orange,20%), .5) 0 0 1em 10px inset)

.js-ready .main_nav .close-btn
	display: block
	+opacity(.7)

.js-ready .main_nav .close-btn:focus, .js-ready .main_nav .close-btn:hover
	+opacity(1)


.js-ready .main_nav
	right: 0

.js-ready .tse_wrapper
	right: 0


.js-nav .tse_wrapper
	right: em(-240px)


.csstransforms3d.csstransitions.js-ready .main_nav
	-webkit-transform: translate3d(0, 0, 0)
	-moz-transform: translate3d(0, 0, 0)
	-ms-transform: translate3d(0, 0, 0)
	-o-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)
	-webkit-backface-visibility: hidden
	-moz-backface-visibility: hidden
	-ms-backface-visibility: hidden
	-o-backface-visibility: hidden
	backface-visibility: hidden

.csstransforms3d.csstransitions.js-ready .tse_wrapper
	right: 0 !important
	-webkit-transform: translate3d(0, 0, 0)
	-moz-transform: translate3d(0, 0, 0)
	-ms-transform: translate3d(0, 0, 0)
	-o-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)
	-webkit-transition: -webkit-transform 500ms ease
	-moz-transition: -moz-transform 500ms ease
	-o-transition: -o-transform 500ms ease
	transition: transform 500ms ease
	-webkit-backface-visibility: hidden
	-moz-backface-visibility: hidden
	-ms-backface-visibility: hidden
	-o-backface-visibility: hidden
	backface-visibility: hidden


.csstransforms3d.csstransitions.js-nav .tse_wrapper
	-webkit-transform: translate3d(em(-240px), 0, 0) scale3d(1, 1, 1)
	-moz-transform: translate3d(em(-240px), 0, 0) scale3d(1, 1, 1)
	-ms-transform: translate3d(em(-240px), 0, 0) scale3d(1, 1, 1)
	-o-transform: translate3d(em(-240px), 0, 0) scale3d(1, 1, 1)
	transform: translate3d(em(-240px), 0, 0) scale3d(1, 1, 1)


.csstransforms3d.csstransitions.js-ready .main_nav .effect
	-webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease
	-webkit-transition-delay: ease, 0s
	-moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease
	-o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease
	transition: opacity 300ms 100ms ease, transform 500ms ease
	-webkit-transform: translate3d(em(240px), 0, 0) scale3d(0.9, 0.9, 0.9)
	-moz-transform: translate3d(em(240px), 0, 0) scale3d(0.9, 0.9, 0.9)
	-ms-transform: translate3d(em(240px), 0, 0) scale3d(0.9, 0.9, 0.9)
	-o-transform: translate3d(em(240px), 0, 0) scale3d(0.9, 0.9, 0.9)
	transform: translate3d(em(240px), 0, 0) scale3d(0.9, 0.9, 0.9)
	-webkit-transform-origin: 50% 0%
	-moz-transform-origin: 50% 0%
	-ms-transform-origin: 50% 0%
	-o-transform-origin: 50% 0%
	transform-origin: 50% 0%
	+opacity(.5)

.csstransforms3d.csstransitions.js-nav .main_nav .effect
	-webkit-transform: translate3d(0, 0, 0)
	-moz-transform: translate3d(0, 0, 0)
	-ms-transform: translate3d(0, 0, 0)
	-o-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)
	+opacity(1)
