// Main Navigation
// ----------------------------------------- //

.main_nav

	ul
		@extend %no-bullets
		@extend %no-margin-or-padding
		+adjust-font-size-to($ms1)
		a
			#{$link}
				@extend %no-text-decoration
				@extend %color-transition
				@extend %border-transition
				@extend %display-inline-block
				border-bottom: 1px solid transparent
				color: $tan
				+trailer(.75)
			#{$focus}
				border-bottom: 1px solid $orange
				color: $orange

		> li.active a
			border-bottom: 1px solid $orange
			color: $orange
			