//-----------------------------------------------------------------------------
// Imports
@import ../_base/reset
@import extends

@import fonts

//-----------------------------------------------------------------------------
// Variables

$link: '&:link, &:visited'
$focus: '&:hover, &:focus, &:active' 
  
//-----------------------------------------------------------------------------
// Root

+establish-baseline

body
	@extend %serif-stack
	background: $tan

a
	#{$link}
		@extend %no-text-decoration
		color: $linkColor
  
	#{$focus}
		color: $linkColorHover


.hdr_primary
	@extend %position-relative
	@extend %center-text
	@extend %header-stack
	@extend %caps
	padding: 0 rhythm(.25)
	font-weight: bold
	color: darken($tan,70%)
	letter-spacing: 0.05em
	padding: rhythm(1.5) 0 rhythm(.5) 0
	+adjust-font-size-to($ms3)
	+text-shadow(rgba(darken($tan,70%), 0.07) 0.1em 0.1em 0)
	+leader(1)
	+trailer(1)

	span
		@extend %display-inline-block
		background: $tan
		padding: 0 rhythm(.5)
		position: relative
		z-index: 3

	&:before
		@extend %display-block
		@extend %position-absolute
		border-top: 2px dotted darken($tan,20%)
		content: ""
		height: 0.1em
		left: 0
		margin-top: -0.1em
		top: 50%
		width: 100%
		z-index: 1

.section_description
	@extend %center-text
	+adjust-font-size-to($ms1,1.25)
	+leader(2)
	+trailer(2)

.description_highlight
	@extend %hand-stack
	@extend %center-text

