//-----------------------------------------------------------------------------
// Base

@import common 

html, body
	@extend %position-absolute
	@extend %centered
	width: 100%
	height: 100%
	top: 0
	right: 0
	left: 0
	bottom: 0

.full_screen
	height: 100%

.tse_home
	@extend %position-absolute
	height: 100%
	width: 100%
	background-attachment: fixed
	background-position: center center
	background-repeat: none
	top: 0
	bottom: em(75px)
	right: 0
	left: 0
	+background-size(cover)
	+box-shadow(rgba(black, .2) 0 0 20px 20px inset)


.hero_text
	@extend %position-absolute
	width: 80%
	top: 35%
	left: 50%
	margin-left: -40%

	h1
		@extend %center-text
		@extend %no-margin
		border-top: 1px solid $tan
		border-bottom: 1px solid $tan
		color: $tan
		font-weight: normal
		letter-spacing: em(1px)
		padding: 2%
		+adjust-font-size-to($ms4,2)











 